{{ form_start(form) }}
<div class="d-flex">
{{ form_widget(form.query)}}
<button type="submit" class="btn border btn-rounded-none"><svg class="search" style="height:20px; width:20px;"><use xlink:href="#search"></use></svg></button>
</div>
{{ form_end(form) }}