{{ form_start(form) }}
<div class="d-flex">
{{ form_widget(form.query)}}
<button type="submit" class="btn btn-black text-uppercase btn-rounded-none"><svg class="search"><use xlink:href="#search"></use></svg></button>
</div>
{{ form_end(form) }}