<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="/styles/style.css">
			<link rel="stylesheet" type="text/css" href="/styles/Style2.css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_link_tags('app') }}
		 	 <script src="/js/modernizr.js"></script>
			 <script src="/js/jquery-1.11.0.min.js"></script>
			 <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
			 <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
			 <script type="text/javascript" src="/js/plugins.js"></script>
			 <script type="text/javascript" src="/js/script.js"></script>
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include "partials/_header.html.twig" %}
		{% endblock %}
		{% block body %}{% endblock %}
	</body>
</html>
