{% extends 'base.html.twig' %}

{% block title %}Add address for shipment{% endblock %}
{% block body %}
<div class="merde"></div>
<div class="container ">
    <h1>Add address for shipment</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary mt-4">Submit</button>

<!-- Widget -->
    <div id="Zone_Widget"></div>
    <!-- Parcelshop code -->
    <input type="" id="ParcelShopCode" name="ParcelShopCode" />
{{ form_end(form) }}
<script src="/js/ScriptMR.js"></script>

{% endblock %}